* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

body, html {
    height: 100%;
}

.container {
    flex-direction: column;
    display: flex;
    height: 100%; 
    border: 5px solid black;
}

header, nav, section, article, aside footer {
    text-align: center;
    padding: 10px;
    border: 5px solid black;
}

header, nav, footer {
    width: 100%;
}

header {
    text-align: center;
    background-color: #4c69ca;
    height: 12%; 
}

nav {
    background-color: #5dd2df;
    height: 12%; 
}

footer {
    text-align: center;
    background-color:#4d70e2;
    height: 12%; 
}

.content {
    display: flex;
    flex-grow: 1;
}

.main-content {
    display: flex; 
    flex-direction: column;
    width: 75%;
}

section, article {
    width: 100%;
    flex-grow: 1; 
}

section {
    background-color: #f8d135;
}

article {
    background-color: #f57e5e;
}

aside {
    width: 25%; 
    background-color: rgb(255, 255, 255);
    height: 50rem; 
    color: black;
    text-align: center;
    border: 5px solid black;
}